/* Global Styles */
:root {
  --bg-color-light: #ffffff;
  --bg-color-dark: #282c34;
  --text-color-light: #000000;
  --text-color-dark: #ffffff;
  --link-color-light: #61dafb;
  --link-color-dark: #61dafb;
}

body {
  background-color: var(--bg-color-light);
  color: var(--text-color-light);
  transition: background-color 0.3s, color 0.3s;
}

body.dark {
  background-color: var(--bg-color-dark);
  color: var(--text-color-dark);
}

/* App Component Styles */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--bg-color-dark);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--text-color-dark);
}

body.light .App-header {
  background-color: var(--bg-color-light);
  color: var(--text-color-light);
}

.App-link {
  color: var(--link-color-light);
}

body.dark .App-link {
  color: var(--link-color-dark);
}

.perspective-1000 {
  perspective: 1000px;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }

}
