@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply font-Poppins scroll-smooth;
}
body {
  @apply box-border bg-gray-900 text-gray-100;
}


/* Hide scrollbar for Chrome, Edge and Safari */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none; /* Firefox */
}
